.button {
  cursor: pointer;
  background: #5c5cff;
  color: white;
  font-size: 13px;
  border: 2px solid #5c5cff;
  padding: 10px 25px;
  border-radius: 20px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #008bd4;
}
